.idea/.idea.Portfolio2025/.idea/.name
Portfolio2025/obj/Debug/net8.0/Portfolio2025.AssemblyInfo.cs
Portfolio2025/obj/Debug/net8.0/Portfolio2025.AssemblyInfoInputs.cache
Portfolio2025/obj/Debug/net8.0/Portfolio2025.assets.cache
Portfolio2025/obj/Debug/net8.0/Portfolio2025.GeneratedMSBuildEditorConfig.editorconfig
Portfolio2025/obj/Portfolio2025.csproj.nuget.dgspec.json
Portfolio2025/obj/project.assets.json
Portfolio2025/obj/project.nuget.cache
Portfolio2025/obj/project.packagespec.json
Portfolio2025/obj/rider.project.model.nuget.info
Portfolio2025/obj/rider.project.restore.info
