@{
    ViewData["Title"] = "Home Page";
}

<div class="titleContainer snap px-5">
    <div class="row mt-5 mb-5">
        <div class="col-8 text-center"><h1 class="titleLeft">Hi! My name is <span class="name">Jason Bruce</span></h1></div>
        <div class="col-4"></div>
    </div>
    <div class="row mb-5">
        <div class="col-4"></div>
        <div class="col-8 text-center"><h1 class="titleRight">Welcome to my Web Portfolio</h1></div>
    </div>
    <div class="row mt-4 scrollMore">
        <h4 class="text-center"><i class="bi bi-chevron-down"></i> Scroll for More <i class="bi bi-chevron-down"></i></h4>
    </div>
</div>

<div class="contentContainer snap animate" id="about">
    <div class="row">
        <div class="col">
            <h4>About Me</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque volutpat massa a arcu convallis, vehicula 
                posuere neque suscipit. Morbi vel dui a velit porta consequat. Curabitur posuere, tellus id ultricies tincidunt,
                nulla ex varius mauris, varius faucibus risus metus ut justo. Lorem ipsum dolor sit amet, consectetur adipiscing 
                elit. Morbi a lorem aliquet, tincidunt massa a, pulvinar justo. Etiam suscipit, ex laoreet sollicitudin pretium,
                sem velit eleifend ante, in fermentum nulla nisi sit amet purus. Curabitur a purus ante. Fusce tempor sem id 
                aliquet dignissim. Cras non nibh velit. Sed imperdiet lorem nec arcu vestibulum, eget malesuada felis maximus. 
                Aliquam quis lectus ut dolor viverra porta. Pellentesque luctus tempor posuere. Mauris in enim non dolor ultrices 
                sollicitudin. Proin vitae iaculis felis. Quisque laoreet posuere lorem, ut volutpat dolor accumsan quis.
            </p>
        </div>
    </div>
</div>

<div class="contentContainer snap animate" id="recentWorks">
    <div class="row">
        <div class="col">
            <h4>Recent Works</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque volutpat massa a arcu convallis, vehicula
                posuere neque suscipit. Morbi vel dui a velit porta consequat. Curabitur posuere, tellus id ultricies tincidunt,
                nulla ex varius mauris, varius faucibus risus metus ut justo. Lorem ipsum dolor sit amet, consectetur adipiscing
                elit. Morbi a lorem aliquet, tincidunt massa a, pulvinar justo. Etiam suscipit, ex laoreet sollicitudin pretium.
            </p>
            <div class="row">
                <div class="col">
                    <img src="https://place-hold.it/300" alt="plchld"/>
                    <p>Description</p>
                </div>
                <div class="col">
                    <img src="https://place-hold.it/300" alt="plchld"/>
                    <p>Description</p>
                </div>
                <div class="col">
                    <img src="https://place-hold.it/300" alt="plchld"/>
                    <p>Description</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="contentContainer snap text-start animate" id="contact">
    <div class="row">
        <div class="col-sm pb-2">
            <h2>Contact</h2>
            <div class="row">
                <a href="https://www.linkedin.com/in/jason-s-bruce" target="_blank" class="contactLink"><i class="bi bi-linkedin me-1"></i>LinkedIn</a>
            </div>
            <div class="row">
                <a href="https://github.com/Jasonbruce2001/" target="_blank" class="contactLink"><i class="bi bi-github me-1"></i>Github</a>
            </div>
            <div class="row">
                <a class="contactLink"><i class="bi bi-phone me-1"></i>650-575-3015</a>
            </div>
            <div class="row">
                <a href="mailto:brucej.jsb@gmail.com" target="_blank" class="contactLink"><i class="bi bi-envelope-at me-1"></i>brucej.jsb@gmail.com</a>
            </div>
        </div>
        
        <div class="col-sm">
            <img src="https://place-hold.it/300" alt="Jason Bruce Portrait Image"/>
        </div>
    </div>
</div>